@import url("onetrue.css");
@import url("event.css");
/* added for further styling */

/* define width of various parts */
#sidebar-left, #sidebar-left .verticalalign
{
	width: 12em;
}
div[id^="wrapper"] #sidebar-left .verticalalign
{
	width: 12em !important;
}
#sidebar-right, #sidebar-right .verticalalign
{
	width: 12em;
}
div[id^="wrapper"] #sidebar-right .verticalalign
{
	width: 12em !important;
}
#main-content, #main-content .verticalalign
{
    width: 36em;
}
div[id^="wrapper"] #main-content .verticalalign
{
	width: 36em !important;
}
/* width = content + left sidebar */
body.sb-left div#main-content, body.sb-left div#main-content .verticalalign
{
	width: 48em;
}
/* width = content + right sidebar */
body.sb-right div#main-content, body.sb-right div#main-content .verticalalign
{
	width: 48em;
}
/* width = content + right sidebar + left sidebar */
body.sb-none div#main-content, body.sb-none div#main-content .verticalalign,
#header, #footer, #wrapper, #page_wrapper
{
	width: 60em;
}
/* misc class */
acronym
{
    cursor: help;
    border-bottom: 1px dotted #aaa;
}
input
{
	background-color:#FFF;
	margin-bottom:2px;
	padding:3px;
	color:#fff;
	background-color:#94ae62;
/*
    color:#333;
	background-color:#ddd;
*/
}
textarea, select
{
	background-color:#FFF;
	margin-bottom:2px;
	color:#fff;
	border:1px solid #728c40;
	background-color:#94ae62;
/*
    color:#333;
	background-color:#ddd;
*/
}
input[type=text]
{
	background-color:#FFF;
    border:1px solid #333;
	background-color:#94ae62;
}
input[type=submit]
{
	background-color:#FFF;
	padding:2px;
	border:1px solid #728c40;
	font-size:0.9em;
	font-weight:bold;
	margin-bottom:2px;
	background-color:#94ae62;
}
a {
	color:#4D87CE;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color:#2a65ad;
}

/* containers*/
body
{
    font: 0.75em/1.2em "Trebuchet MS", Arial, Geneva, Helvetica, sans-serif;
    margin 0;
    padding:0;
  	color:#555;
    background-color: #fff;
}
div#page_wrapper
{
    margin:0 auto;
    background-color: #fff;
}
/* header styles*/
div#header
{
/*
    background: #777 url(images/heading_alt.jpg) bottom left no-repeat ;
*/
    margin:0;
    padding:0;
    clear:all;
}
#mission
{
    margin:0;padding:0;
}
#site-name, #site-slogan
{
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	text-transform:uppercase;
	font-weight:normal;
    margin:0;
	padding:0;
	text-align:left;
}
#site-name
{
	font-size:30px;
	padding-top:5px;
	color: rgb(115, 100, 81);
	margin-bottom:10px;
}
#site-slogan
{
	font-size:15px;
	line-height:1.4em;
	color:#000;
	border-bottom:1px solid #eee;
}
#site-name a
{
	color: #765;
	font-weight:normal;
    text-decoration: none;
}
#site-name a:hover
{
	color: #985;
}
/* top nav bar */
#top-nav {
    padding:0;margin:0;
    width:100%;
	padding-top:20px;
	padding-bottom:0px;
	margin-bottom:40px;
	color:#FFF;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-variant:small-caps;
	/*background:#94AE62 url(images/menu.jpg) repeat-x;*/
	background:#fff url(images/menu.jpg) repeat-x;
}
#top-nav ul
{
    padding:0;
    margin:0;
/*
    font-weight:normal;
    float:right;
    clear:right;
*/
}
#top-nav ul li {
	display: inline;
}
#top-nav ul#primary li a
{
	color:#fff;
	text-decoration:none;
	padding:10px;
	padding-top:20px;
	padding-bottom:20px;
    font-size:1.1em;
}
#top-nav ul#primary li a:hover
{
    border-collapse:collapse;
	border-bottom:1px solid #fff;
	border-left:1px solid #728d40;
	border-right:1px solid #e9ffb7;
	padding-left:9px;
	padding-right:9px;
	color:#000;
	background:#fff url(images/a_hover.jpg);
}
#top-nav ul#secondary
{
    margin:20px 0 0 0;
    padding:0;
}
#top-nav ul#secondary li a
{
    padding:0 0.3em;margin:0;
    text-decoration: none;
    font-weight:bold;
    font-size:1em;
    line-height:1em;
    background:#fff;
}
#top-nav ul#secondary li a:hover
{
    color: #c60;
}
/* search bar */
#search
{
    float:right;
    height:2.5em;
    padding:0 0 0 1em;
    text-align:left;
    background-color:#fff;
    clear:right;
/*
    margin:4.5em 0 0 0;
    position:absolute;
*/
}

#search input
{
    margin:0.2em 0.2em;
    padding:0;
    font-size:0.8em;
    border:1px solid #333;
}
#search input[type=submit]
{
	padding:2px;
	border:1px solid #333;
	font-size:0.8em;
	font-weight:bold;
	margin-bottom:2px;
}

/* for ie6 win */
#search .form-submit
{
	color:#fff;
	font-size:0.8em;
	font-weight:bold;
}

/* footer styles*/
div#footer
{
	width:100%;
	background-color:#b6cf84;
	border-top:1px solid #d8efa6;
	border-bottom:5px solid #94ae62;
	padding-top:5px;
	padding-bottom:5px;
	color:#FFF;
	text-align:center;
}
div#footer a
{
    text-decoration: none;
	color:#060;
}
div#footer a:hover
{
	color:#090;
}
/* main-content styles*/
div#main-content
{
    background-color: #fff;
}
div#main-content .content
{
    padding:15px;
    line-height:20px;
/*
    padding:3em;
    line-height:1.2em;
*/
}
div#main-content li
{
	list-style-image:url(images/li.gif);
	line-height:20px;
	text-align:left;
}
div#main-content h2
{
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:25px;
	line-height:1.3em;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eee;
	margin-top:0;
	color:#728c40;
}
div#main-content h2 a
{
    font-weight:normal;
    color:rgb(114, 140, 64);
}
div#main-content h2 a:hover
{
    color:rgb(120, 160, 64);
}
div#main-content table .dark
{
    background-color:#bc8;
}
div#main-content table .light
{
    background-color:#efc;
}
div#main-content table .dark .active
{
    background-color:#cd9;
}
div#main-content table .light .active
{
    background-color:#ffd;
}
div#main-content, div#main-content table
{
    color:#000;
    font-size:1em;
}
div#main-content div.w1
{
    background-color: #fff;
    margin:0em 1em;
    border-collapse:collapse;
    border-bottom:1px solid #fff;
}
div#main-content.left div.w1
{
    margin-right:0;
}
div#main-content.right div.w1
{
    margin-left:0;
}
div#main-content div.w4
{
    padding:1em;
    overflow: hidden;
}
div#main-content.left div.w4, div#main-content.both div.w4
{
    border-left:1px solid #eee;
}
div#main-content.right div.w4, div#main-content.both div.w4
{
    border-right:1px solid #eee;
}

/* rounding corners on main-content 
div#main-content div.w1,
div#main-content div.w2,
div#main-content div.w3,
div#main-content div.w4
{
   	background-repeat: no-repeat;
}
div#main-content.none div.w1,
div#main-content.both div.w1,
div#main-content.left div.w1
{
   	background-image:url(images/corner_sub_bl_alt.gif);
   	background-position:bottom left;
}
div#main-content.none div.w2,
div#main-content.both div.w2,
div#main-content.right div.w2
{
   	background-image:url(images/corner_sub_br_alt.gif);
   	background-position:bottom right;
}
div#main-content.none div.w3,
div#main-content.both div.w3,
div#main-content.left div.w3
{
   	background-image:url(images/corner_sub_tl_alt.gif);
   	background-position:top left;
}
div#main-content.none div.w4,
div#main-content.both div.w4,
div#main-content.right div.w4
{
   	background-image:url(images/corner_sub_tr_alt.gif);
   	background-position:top right;
}*/

/* sidebars */
div#sidebar-right h2, div#sidebar-left h2
{
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:20px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
	text-align:right;
}
div#sidebar-left h2
{
	text-align:left;
}
div#sidebar-left .block .content, div#sidebar-right .block .content
{
   	margin:0;padding:0;
	color:#6C534A;
   	border-bottom:1px solid #fff;
}

/* some style changes on block class */
.block table
{
    font-size:1em;
}
.block
{
    margin: 0em 0 0.5em 0;
}
.block h2, .block h3
{
    margin:0em;
    padding: 0.8em 0.2em 0.2em 0.2em;
    color: #c60;
/*
    font-weight:bold;
   	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
*/
}
.block h2
{
    font-size:1em;
}
.block h3
{
    font-size:1em;
}
.block a
{
	display: block;
	padding: 2px 0;
	text-decoration: none;
}
.block ul, .block ul ul
{
    margin:0;padding:0;
}
.block ul
{
    position:relative;
}
.block ul li
{
	list-style: none;
	font-size:0.9em;
}
.block ul li a
{
	display: block;
	width:100%;
	background-image:url(images/submenua.gif);
	background-position:right;
	background-repeat:no-repeat;
	padding:5px 0;
	padding-right:0;
}
.block ul li a:hover
{
	background:#fff url(images/submenua_hover.jpg) top left repeat-y;
}
.block ul ul li
{
    font-size:1em;
}

/* modification on drupal.css */
.breadcrumb
{
    font-size:0.9em;
    line-height:1em;
}
.book .nav .prev, .book .nav .next
{
    width:40%;
}
#sitelogo
{
    float:right;
    padding:0 0 0 1em;
    margin:0;
    background:#fff;
    clear:right;
}
#mission
{
    margin-top:2em;
    padding-right:14em;
    padding-bottom:1em;
    color:#adb198;
    border-bottom:1px solid #eee;
}
#main-content a
{
    color: #c60;
    text-decoration:none;
}
ul.primary li.active a {
  background-color: #fff;
/*
  border-bottom:1px solid #eee;
*/
}
ul.primary li a:hover {
  background-color: #eee;
}
.node .info
{
	font-size:0.9em;
}
.book .tree
{
    border-top-color: #eee;
}
.book .nav
{
    border-top-color: #eee;
    border-bottom-color: #eee;
}
